/* =====Everything Stuff===== */
body {
    font-family: "JetBrains Mono", monospace;
    height: 100vh;
    font-style: normal;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: space-between;
}

button {
    cursor: pointer;
    padding: 8px 13px;
    border-radius: 8px;
    font-family: "JetBrains Mono", monospace;
}

a {
    color   : antiquewhite;
    text-decoration: none;
    }

a:visited {
    color: antiquewhite;
}

a:hover {
    text-decoration: overline;
}

/* =====Header===== */
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-main {
    font-size: 70px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.header-sub {
    margin: 30px 0px;
}

/* =====Main===== */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* =====Game Buttons===== */
.buttons-main {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 120px;
    height: 120px;
}

img {
    width: 90px;
    height: 90px;
}

/* =====Footer===== */
.footer {
    background-color: #1f2937;
    color: antiquewhite;
    text-align: center;
    padding: 25px 0px;
    font-size: small;
}

.footer-text-2 {
    font-size: 10px;
    padding-top: 5px;
}
